@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Офіційний сайт Університету</h1>
    <hr />
    <img src="~/img/logo.jpg" alt="..." width="350" />
    <hr />
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
